*{
    margin: 0;
    padding: 0;
}

section{
    background-image: url(./assets/Pastelería\ Abuela.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    opacity: 0.6;
}

h1, h2{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    margin: 50px;
}

.tablas{
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
   
}

.form{
    width: 75%;
    margin: 40px;
}

